<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <contextName>RestAPI</contextName>
    <!--设置系统日志目录-->
    <property name="LOGPATH" value="logs"/>

    <!-- 控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] [%-4line] %logger{96} - %X{uuid} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- 修改其他包的日志输出级别 -->
    <logger name="org.linlinjava.litemall">
        <level value="info"/>
    </logger>
    <root level="INFO">
        <!-- 只打印到控制台，不记录到文件中 -->
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>



